.debitForm{
    position: absolute;
    width: 95%;
    height: 65%;
    top: 30%;
    background: #E5FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.infobox{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10rem;
    padding-right: 5rem;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    font-weight: 300;
}

.fstbox{
    display: flex;
    justify-content: space-between
}

.bigtext{
    font-size: 24px;
}

.pricebox{
    display: flex;
}

.debitipt{
    border: none;
    border-bottom: 2px solid #CCC;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: 300;
    font-size: 20px;
}

.debitipt:focus{
    outline:none;
}

.sendbtn{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 10%;
}

.sendbtnin{
    border: 3px solid rgb(229,249,251);
    background-color: #FCFF5C;
    border-radius: 30px;display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

.dbtmsg{
    width: 50%;
    border: none;
    border-bottom: 3px solid #000;
    font-size: 26px;
    font-weight: 300;
}

.dbtmsgbox{
    font-size: 26px;
    font-weight: 300;
    display: flex;
}