.eventHeader{
    height: 11rem;
    padding: 1.5rem 0;
    background-color: #DD5475;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.titleBox.gpt{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titleBox.roll{
    text-align: right;
}

h1 {
    font-size: 3.5rem;
}

h3{
    font-size: 1.7rem;
}

.textBox{
    text-align: center;
}

.title{
    font-size: 3.5rem;
    padding: 1.2rem;
    margin: 0 2rem;
}

.des{
    font-size: 2rem;
    margin: 0 10rem;
}

p{
    margin: 0;
    text-align: end;
}

