.payBanner{
    position: absolute;
    width: 100vw;
    height: 18%;
    top: 8%;
    background: #CDFF5C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.paybannerdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 18%;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.kidBalance{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 30%;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}
