.fam-profile-card-container{
    width: 98%;
    height: 17%;
    background: #E5FAFC;
    border-radius: 37px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fam-profile{
    width: 15%;
    height:fit-content;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.fam-info-box p{
    text-align: left;
}

#fam-name{
    font-size: 1.5rem;
}

.fam-edit-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4rem;
    height: 80%;
}

.fam-edit-box p{
    font-size: .8rem;
    margin: 0.5rem 0;
    color: #bababa;
}

.fam-edit-box p:hover{
    text-decoration: underline;
    cursor: pointer;
}