.my-profile-card-container{
    width: 55%;
    background: #CDFF5C;
    border-radius: 37px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.me-profile{
    width: 19%;
    height:fit-content;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

.my-info-box p{
    text-align: left;
}

#my-name{
    font-size: 1.5rem;
}

.my-edit-box { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin-left: 4rem;
}

.my-edit-box p{
    font-size: .8rem;
    margin: 0;
    color: #bababa;
}

.my-edit-box p:hover{
    text-decoration: underline;
    cursor: pointer;
}