.mainBanner {
    position: absolute;
    width: 100vw;
    height: 37%;
    top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mammyMsg{
    background-color: #fff;
    width: 24vw;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.slideBanner{
    width: 50vw;
    height: 75%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2rem;
}

.mainBanner span{
    float: right;
}

.sendFighting {
    width: 8rem;
    background-color: #FCFF5C;
    border: none;
    border-radius: 15px;
    padding: .4rem;
    font-size: .7rem;
    margin: 0;
    cursor: pointer;
}

.changeChild{
    cursor: pointer;
    /* background-color: rgba(252,255,92,0.4); */
}