.mainBanner {
    position: absolute;
    width: 100vw;
    height: 37%;
    top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.mammyMsg{
    background-color: #fff;
    width: 24vw;
    height: 75%;
    overflow: scroll;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .mammyMsg {
        transition: 1s;
      font-size: .8rem;
    }
    .sendFighting{
        width: 5rem;
        font-size: .5rem;
    }
  }

.slideBanner{
    width: 50vw;
    height: 75%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2rem;
}

.mainBanner div{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.sendFighting{
    max-width: 5rem;
    width: 60%;
    background-color: #FCFF5C;
    border: none;
    border-radius: 15px;
    padding: .4rem;
    font-size: .7rem;
    margin: 0;
    cursor: pointer;
}

.selectkid{
    width: 13rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.3rem;
    border-radius: 15px;
    outline: none;
}

.selectkid:focus{
    border: 1px solid #DD5475;
}