.event-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5rem;
}

.eventHeader{
    display: flex;
    justify-content: center;
}

.event-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20rem;
    height: 15rem;
    cursor: pointer;
}

.event-img{
    width: 90%;
    border-radius: 20px;
}

.event-img:hover{
    border-radius: 0px;
}