.debitTable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    border-radius: 2rem;
}

td{
    border-bottom: 0.01rem solid #ccc;
    padding: 1rem;
    font-size: 1.5rem;
}
tr:last-child td {
    border-bottom: none;
  }

.debitHistory{
    position: absolute;
    width: 90%;
    height: 55%;
    top: 30%;
    background: #FCFF5C;
    border-radius: 30px;
    margin: 0 auto;
    padding: 3rem;
    overflow: hidden;
}

.debitScroll{
    height: 100%;
    overflow: scroll;

}

.debitScroll::-webkit-scrollbar {
    width: 10px;
  }
  .debitScroll::-webkit-scrollbar-thumb {
    background-color: #2D86E0;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .debitScroll::-webkit-scrollbar-track {
    background-color: 2D86E0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }