
.join{
    width: 100vw;
    height: 100vh;
    background:#2D86E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinSub{
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 85vh;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #2D86E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.join-container{
    width: 50vw;
    margin: 1rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}

.joinImage{
    position: absolute;
    width: 75vw;
    /* height: 90vh; */
    margin-top: 14vh;
    margin-left: 0.1vw;
}

.whiteBackground{
    position: absolute;
    right: 5vw;
    top: 2.5vh;
    width: 30vw;
    height: 85vh;
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;

    /* margin: 0px; */
    padding: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.joinInput{
    position: absolute;
    right: 12vw;
    top: 11vh;
    width: 30vw;
    height: 80%;
    background: #FFFFFF;
    border: 1px solid #2D86E0;
    box-shadow: 7px 7px 39px #2D86E0(0, 104, 255, 0.25);
    border-radius: 20px;
    padding: 7vh;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 10;
    align-items: center;
}


.joinipt {
    position : relative;
    margin-top : 0.3rem;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 2.5px solid #CFCFCF;
    border-radius: 20px;
    width: 90%;
    height: 2rem;
    font-size: 1.1rem;
    caret-color: #2D86E0;
}

.joinipt:focus, .select-box:focus{
    border-color:#0982f0;
    outline: none;
}

.input-box{
    margin: 1rem 0;
    align-items: center;
}

label {
    position : relative;
    left: 0.5rem;
    color: black;
    font-size: 1.3rem;
}

.joinBtn {
    width: 22vw;
    height: 75px;
    background-color: #2D86E0;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.joinBtn.btn-disabled {
    background-color: gray;
    cursor: default;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: #000000 solid 5px;
}


.selectRoleBox{
    display: flex;
    height: 4rem;
}
.parentBtn{
    width: 12vw;
    height: 5vh;
    background-color: #FFFFFF;
    color: black;
    border-radius: 20px;
    border: #ffffff solid 3px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}
.kidBtn{
    width: 12vw;
    height: 5vh;
    background-color: #FFFFFF;
    color: black;
    border-radius: 20px;
    border: white solid 3px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.selected{
    border: #2D86E0 solid 3px;
    cursor: pointer;
}

.selected:focus{
    border: #2D86E0 solid 3px;

}

#existBtn{
    width: 7.5rem;
    height: 1.7rem;
    background-color:transparent;
    color: #2D86E0;
    border: 0;
    /* font-weight: 1000; */
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;;
    margin-top: 0.5rem;
    cursor: pointer;
}

#existBtn:hover {
    background-color: #94bde6;
}

.email-box{
    display: flex;
}

.join-box{
    height: 100%;
    overflow: scroll;
}


  .join-box::-webkit-scrollbar {
    width: 10px;
  }
  .join-box::-webkit-scrollbar-thumb {
    background-color: #2D86E0;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .join-box::-webkit-scrollbar-track {
    background-color: 2D86E0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  .birth{
    display: flex;
    gap:10px;
  }

  .birth select{
    border: none;  
    border-bottom: 2.5px solid #CFCFCF;
}

#familyCode{
    margin: 0.2rem 0 0 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: #0982f0 1px solid;
    border-radius: 20px;
    margin-top: 0.5rem;
    height: 1.2rem;
}

#famCode-btn{
    cursor: pointer;
    color: #2D86E0;
    padding: 0.2rem 0.7rem;
    border-radius: 20px;
}

.input-box.code {
    text-align: center;
    margin-top: 2rem;
}
#famCode-btn:hover {
    background-color: #94bde6;
}


.join-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joinpw{
    font-family:'Malgun gothic';
}


.join-wrap{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-box{
    margin: 0.5rem 0;
    width: 4vw;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 20px;
    caret-color: #2D86E0;
    padding: 0.1rem 0.2rem;  
}

.select-box.y{
    width: 6vw;
    padding: 0.1rem ;   
}

.gender-radio{
    margin : 0.5rem 0.5rem;
    padding-bottom: 0.2rem;
    border: none;
    width: 1rem;
    height: 1rem;
    font-size: 1.1rem;
}

#passwordCheck-Text{
    color : red;
}

.famCode-box{
    display: flex;
}
#famCodeExist-btn{
    width: 7.5rem;
    height: 1.7rem;
    background-color: transparent;
    color: #2D86E0;
    border: 0;
    text-align: center;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    cursor: pointer;
}
#famCodeExist-btn:hover {
    background-color: #94bde6;
}

.wrong {
    color : red;
}