
.login{
    width: 100vw;
    height: 100vh;
    background: #F4C4D2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginSub{
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 85vh;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #F4C4D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.login-container{
    width: 50vw;
    margin: 1rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
}

.loginSlogan{
    text-align: center;
    margin : 5rem 2rem;
    color: #fff;
    font-weight: 500;
    font-size: 4rem;
    padding: 0 1rem;
    z-index: 1;
}

.loginImage{
    margin: 1rem 0;
    width: 45rem;
}

.trip{
    width: 100%;
}

.loginInput{
    position: absolute;
    right: 12vw;
    top: 5rem;
    width: 30vw;
    height: 80%;
    background: #FFFFFF;
    border: 1px solid #F4C4D2;
    box-shadow: 7px 7px 39px #F4C4D2(0, 104, 255, 0.25);
    border-radius: 20px;
    padding: 10vh;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 10;
    align-items: center;
}

#loginBtn {
    width: 20vw;
    height: 7.5vh;
    background-color: #F4C4D2;
    color: white;
    border-radius: 5px;
    border: #F4C4D2 solid 10px;
    margin-top: 10rem;
    font-weight: 700;
    font-size: 1.75vw;
    text-align: center;
    
}

.loginipt{
    position : relative;
    margin-top : 0.3rem;
    margin-bottom: 2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    border: none;
    border-bottom: 2.5px solid #CFCFCF;
    border-radius: 20px;
    width: 90%;
    height: 2rem;
    font-size: 1.3rem;
    caret-color: #F4C4D2;
}

.loginipt:focus{
    border-color:#F4C4D2;
    outline: none;
}
.loginpw{
    font-family:'Malgun gothic';
}