.map-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-background-image {
    position: absolute;
    width: 85%;
    height: 85%;
    object-fit: contain;
    z-index: -1;
}

.map-box{
    width: 11%;
    position: relative;
    font-size: 2rem;
    text-align: center;
    height: 15rem;
}

.gray{
    filter: grayscale(100%);
}

.map-box.gray a {
    pointer-events: none;
    cursor: default;
  }
  
.map{
    width: 98%;
}

.map-box p{
    margin: 0;
    padding: 0;
}

.map-box-1{
    top: -10%;
    left: 10%;
}

.map-box-2{
    top: 13vh;
    left: 10%
}

.map-box-3{
    top: -19%;
    left: 12%;
}

.map-box-4{
    top: 10vh;
    left: 5%
}

.map-box-5{
    top: -10%;
    left: 12%;
}

.map-box-6{
    top: 19vh;
    left: 2%
}


