.msgmain {
    background-color: #F4C4D2;
    height: 100vh;
    /* padding-top: 2.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.msgbox{
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.msgbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    cursor: pointer;
}

.msgbtnin{
    border: 3px solid #DD5475;
    background-color: #E586A0;
    border-radius: 30px;display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}
.msgbtnin:hover{
    cursor: pointer;
}

.msgbtnin.btn-disabled {
    background-color: gray;
    cursor: default;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #000000;
}

.msgtitle{
    font-size: 3rem;
    font-weight: 550;
}

.msgkid{
    width: 15rem;
    margin: 1rem 0 2rem 6rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.3rem;
    padding: 0.4rem 0rem 0.4rem 1rem;
    border-radius: 15px;
    outline: none;
}

.msgkid:focus{
    border: 1px solid #DD5475;
}

.msgipt{
    margin-bottom: 5rem;
    width: 80%;
    border: none;
    border-bottom: 3px solid #000;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 1rem;
}

.msgipt:focus{
    outline: none;
}

.msgiptbox{
    font-size: 26px;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    display: flex;
}

.msgtitlebox{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}

.quitbtn{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
