.mhistoryBox {
  background-color: #FCFF5C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  width: 90%;
  height: 65%;
  top: 30%;
  flex-direction: column;
  font-size: 20px;
}

.minnerBox{
  background-color: #fff;
  border-radius: 30px;
  width: 90%;
  height: 80%;
  margin-top: 2rem;
}

.minnerBox2{
  background-color: #fff;
  border-radius: 30px;
  width: 90%;
  height: 80%;
  font-size: 30px;
}
.itmbox{
  height: 14.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: #969696 1px solid;
  align-items: center;
}

.itmbox:last-child {
  border-radius: 0 0 30px 30px;
  border: none;
}

.mhistoryTable{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: #969696 1px solid;
  padding: 1rem;
}

.mhistoryRow{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  align-items: center;
}

.mcol{
  width: 15%;
}

.tle {
  width: 30%;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.disabled, .abled{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginations {
  display: flex;
  width: 15%;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 20px;

}

.border{
  height: 1px;
  background-color: #969696;
  width: 115%;
  margin-top: 1.5rem;
}

.correctbg {
  background-color: rgba(205, 255, 92, 0.2);
}

.wrongbg {
  background-color: rgba(221, 84, 117, 0.2);
}

.fst {
  margin-left: 2rem;
}

.lst {
  margin-right: 2rem;
}