.roll-img{
	width: 50%;
}

.roll-btn{
	width: 10rem;
	background-color: #E7A7F5;
	border: 3px solid  #d660f1;
	padding: 0.4rem 0.2rem;
	cursor: pointer;
	color: #fff;
    font-weight: 500;
	border-radius: 30px;display: flex;
	text-align: center;
	align-items: center;
	font-size: 1.4rem;
	justify-content: center;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.roll-btn:hover{
	cursor: pointer;
}

.roll-btn:focus{
	box-shadow: none;
}
