
.login{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #F4C4D2;
}

.loginSub{
    box-sizing: border-box;
    position: absolute;
    width: 1700px;
    height: 900px;
    left: calc(50% - 1700px/2);
    top: calc(50% - 900px/2);
    
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #F4C4D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.loginSlogan{
    color: #fff;
    width: 40vw;
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.loginImage{
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 40%;
    right : 38%;
}

.loginInput{
    position: absolute;
    left: 1000px;
    top: 50px;
    width: 600px;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid #F4C4D2;
    box-shadow: 7px 7px 39px #F4C4D2(0, 104, 255, 0.25);
    border-radius: 20px;

    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.button {
    width: 400px;
    height: 75px;
    background-color: #F4C4D2;
    color: white;
    border-radius: 5px;
    border: #F4C4D2 solid 10px;
    margin-top: 120px;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    
}
