.header{
    height: 1.5rem;
    padding:  .5rem 2rem;
    margin: 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header p {
    margin: 0;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.logout{
    color: #868686;
}

.header p:hover{
    background-color: rgba(205,255,92,0.5);
}