.header{
    position: fixed;
    width: 100%;
    height: 2.1rem;
    font-weight: 500;
    /* padding: 0.5rem 2rem; */
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header p {
    margin: 0;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.logout{
    color: #868686;
}

.header p:hover{
    background-color: rgba(205,255,92,0.5);
}