.debitBanner{
    position: absolute;
    width: 100vw;
    height: 15%;
    top: 8%;
    background: #E5FAFC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.doSelect{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 15%;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.kidBalance{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 30%;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.kidSelect{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: 15%;
    height: 75%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}