.directdebitForm{
    position: absolute;
    width: 95%;
    height: 65%;
    top: 30%;
    background: #F4C4D2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.ddinfobox{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 5rem;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    font-weight: 300;
}

.dditbox{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.ddittext, .ddtitle{
    font-size: 24px;
    font-weight: 400;

}

.ddtitle{
    margin-top: 5rem;
}

.dditiptbox{
    display: flex;
    align-items: center;
}

.dditipt{
    border: none;
    border-bottom: 2px solid #CCC;

    margin-right: 3rem;
    font-weight: 300;
    font-size: 20px;
}

.debitipt:focus{
    outline:none;
}

.ddsubmitbtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.debitmsg {
    width: 60%;
    border: none;
    border-bottom: 2px solid #CCC;
    font-size: 24px;
    font-weight: 300;
}

.dbmsgbox{
    display: flex;
}

.kidname {
    font-size: 24px;
    margin-right: 2rem;
    background: #FCFF5C;
    border-radius: 30px;
}