.directdebitForm{
    position: absolute;
    width: 95%;
    height: 65%;
    top: 30%;
    background: #F4C4D2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.ddinfobox{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 5rem;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    font-weight: 600;
}

.dditbox{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.ddittext, .ddtitle{
    font-size: 24px;
    font-weight: 600;

}

.ddtitle{
    margin-top: 5rem;
}

.dditiptbox{
    display: flex;
    align-items: center;
}

.dditipt{
    border: none;
    border-bottom: 2px solid #CCC;

    margin-right: 3rem;
    font-weight: 600;
    font-size: 20px;
}

.debitipt:focus{
    outline:none;
}

.ddsubmitbtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}