* {
  flex-grow: 0;
  font-family: "Jua";
}

ul,li{
  list-style: none;
}


@font-face {
  font-family: "HannaAir";
  src: url(./../public/assets/fonts/BMHANNAAir.ttf);
}

@font-face {
font-family: "Jua";
src: url(./../public/assets/fonts/BMJUA_ttf.ttf);
}
