.slider {
    color: black;
    align-items: center;
}

.slide-item{
    display: flex;
}

.slider-img{
    width: 8rem;
    height: 8rem;
}

.slide-item p{
    margin: 0 2rem;
    font-size: 2rem;
}

.slick-track {
    display: flex;
    align-items: center;
}