.slider {
    color: black;
    align-items: center;
}

.slider-container{
    height: 100%;
}

.slide-item{
    display: flex;
}

.slider-img{
    width: 10rem;
    height: 10rem;
}

.slide-item p{
    margin: 0 1rem;
    font-size: 2rem;
}

.slick-track {
    display: flex;
    align-items: center;
}